<main class='mx-auto max-w-lg my-10 px-4'>
  <h1 class='font-bold text-2xl sm:text-4xl'>
    Built with<br /><a href='#' class='link-primary'>aromaron/rails-jumpstart</a>
  </h1>

  <p class='mt-6'>
    An opinionated Rails template with Hotwire, ViewComponents & TailwindCSS </br>
    Out of the Box Authentication via Devise </br>
    See <%= link_to 'source code', 'https://github.com/aromaron/rails-jumpstart', class: 'link-primary' %> on GitHub.
  </p>
</main>
